* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";

h1,h2,h3 {
    font-family: roboto;
    font-size: 1,5rem;
}

p,a {
    font-family: "roboto mono";
}

    /* HEADER START */
.container-header {
    width: 100vw;
    @include flex(row,space-between,center)
}

header {
    position: sticky;
    top: 0;
    @include flex(row,flex-start,center);
    width: 100vw;
    background-color: $thirdColor;
    padding-top: 0;
    height: 50px;
    border-bottom: 1px solid $fifthColor;
    z-index: 2;
}

.logo {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.leftside {
    @include flex(row,flex-start,center);
    width: 30vw;
    margin-left: 25px;
}

.leftside a {
    text-decoration: none;
    color: black;
}

.rightside {
    @include flex(row,flex-end,center);
    width: 60vw;
    height: 50px;
    margin-right: 25px;
}

#menu-toggle {
    display: none;
}

  /* Hamburgerknappen */
.hamburgermenu {
    width: 30px;
    cursor: pointer;
    display: inline-block;
    z-index: 2;
    position: relative;
}

.hamburgermenu .bar1,
.hamburgermenu .bar2,
.hamburgermenu .bar3 {
    display: block;     
    width: 30px;          
    height: 2px;           
    margin: 6px 0;         
    background-color: $fifthColor; 
    border-radius: 2px;    
    transition: 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* tom rad högst upp */
    cursor: pointer;
    z-index: 1;
}

  /* Menyn */
nav {
    display: none;
    flex-direction: column;
    background: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 50px; /* ge plats för overlay */
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: $fifthColor;
    padding: 12px;
    border-top: 1px solid #ccc;
}

nav a:hover{
    border-radius: 10px;
    background: $fourthColor;
    color: $primaryColor;
    text-decoration: underline;
}

  /* Visa menyn när checkboxen är ibockad */
#menu-toggle:checked + label + .overlay,
#menu-toggle:checked + label + .overlay + nav {
    display: flex;
}

  /* Animera hamburger till X när öppen */
#menu-toggle:checked + label .bar1 {
    transform: rotate(45deg) translate(6px, 6px);
}
#menu-toggle:checked + label .bar2 {
    opacity: 0;
}
#menu-toggle:checked + label .bar3 {
    transform: rotate(-45deg) translate(6px, -6px);
}
/* HEADER END */

/* Kontaktsida start */
.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
        h1 {
        margin: 25px;
        text-align: center;
        color: $fourthColor;
        }
        .background-contact {
        background-image: url(./images/frontpage-bg.png);
        background-size: fit-content;
        background-position: right;
        }
        .background-form {
        background-image: url(./images/contact-form-pic.png);
        background-size: cover;
        background-position: right;
        }
        .contact-img {
        font-family: roboto;
        @include flex(row,center,center);
        margin: 25px;
    }
        .contact-pic {
        width: 100%;
        max-width: 720px;   /* nice size on mobile/tablet */
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
    }
        figcaption {
        font-size: 0.6rem;
        color: #666;
        margin-top: .5rem;
        text-align: center;
        opacity: 75%;
        font-size: 12px;
    }
        .contact-details {
        @include flex(row,flex-start,center);
        margin-left: 25px;
    }
        .social-media {
        @include flex(column,center,flex-start);
        margin: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
    }
    .social-media a {
        color: #333;
    }
        .social-media a:hover {
        color: $thirdColor;
    }
        .contact-details a:hover {
        color: $thirdColor;
    }
    .contact-details a {
        color: #333;
    }
        .container-grey {
        background: $thirdColor;
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .above-btn {
        display: flex;
        justify-content: center;
        margin: 0 25px;
    }
        .above-btn p{
        font-size: 14px;
    }
        .formbox {
        background: #D9D9D9;
        width: 500px;
        padding-top: 25px;
        border-radius: 16px;
        margin-bottom: 25px;
        filter: drop-shadow(0px 0px 10px #616161);
        }
        .contact-form {
        font-family: "roboto mono";
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        gap: 1rem;
    }

        .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        .form-group label{
        margin-bottom: 0.3rem;
        font-weight: medium;
    }
        .contact-form input, textarea {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
        .checkbox-group {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
    .contactbtn:hover {
        text-decoration: underline;
    }

    .contactbtn {
        background-color: $primaryColor;
        color: $fourthColor;
        border: none;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 20px;
        // margin-bottom: 1.3rem;
        text-decoration: none;
        margin: 25px;
        width: 180px;
    }
}
/* Kontaktsida slut */

/* Q&A sida start */
.container-qna {
    @include flex(column,flex-start,stretch);
    .qnabackground {
    background-image: url(./images/frontpage-bg.png);
    background-size: cover;
    background-position: right;
    width: 100%;
    }
        h1 {
        margin: 25px;
        text-align: center;
        }
        .question {
        margin: 25px;
        display: flex;
        justify-content: flex-start;
        margin: 25px;
        /* font-weight: bold; */
    }
    .answer {
        margin: 25px;
    }
    .btndiv {
        display: flex;
        justify-content: center;
    }
    .contactbtn:hover {
        text-decoration: underline;
    }
    .contactbtn {
        background-color: $primaryColor;
        color: $fourthColor;
        border: none;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 20px;
        text-decoration: none;
        margin: 25px;
        width: 180px;
    }
}
/* Q&A sida slut */

    //referenser start


.toptext {
    text-align: center;
    a {
        color: $primaryColor;
        display: flex;
        text-decoration: none;
    }
    .projects {
        color: $primaryColor;
    }
    .titleprojects {
        text-align: center;
        margin-top: 10px;
    }
    .belowtitle {
        display: flex;flex-direction: column;
        margin: 25px;
        font-weight: normal;
    }
}
.imgbox {
    display: flex;
    justify-content: center;
        .imgclass {
        @include flex(row,center,center);
        .projectimg {
            width: 400px;
        }
    }
}


.kpi-card {
    display: flex;
    justify-content: center;
    gap: 25px;
    .card {
        @include flex(column,space-evenly,center);
        align-content: center;
        margin-top: 25px;
        font-size: 10px;
        background-color: rgb(244, 241, 241);
        border-radius: 8px;
        width: 115px;
        height: 12vh;
        img{
            height: 20px;
        }
    }
    p {
        font-size: 10px;
    }
}

.testbox {
    display: flex;
    justify-content: center;
}

.grey-container {
    background: #D9D9D9;
    width: 478px;
    margin: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    .challenge{
        margin: 25px;
        font-size: 1rem;
    }
    li {
        font-family: "roboto mono";
    }
    p {
        font-size: 1rem;
    }
    .solution {
        padding-left:  25px;
        font-size: 1rem;
    }
    .results {
        margin: 25px;
        font-size: 1rem;
        .checklist {
        list-style: none;
        }
    }
    &check {
        color: #ff9505;
    }
}

    //referenser slut

    /* FOOTER START */
.container-footer {
    @include flex(row,flex-start,center);
    background-color: $secondaryColor;
    border-top: 1px solid $fifthColor;
    color: $fourthColor;
}

.leftside-footer {
    width: 10vw;
    margin: 10px;
    @include flex(row,center,center);
    border-radius: 100%;
    background-color: $primaryColor;
    max-width: 40px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
}

.logo-footer {
    width: 25px;
    height: 25px;
}

.middle-footer {
    @include flex(column,center,flex-start);
    flex-wrap: wrap;
    margin: 5px;
    width: 100vw;
    gap: 2px;
}

.middle-footer a {
    text-decoration: underline;
    color: $fourthColor;
    font-size: 15px;
}

.middle-footer a:hover {
    text-decoration: none;
}

.rightside-footer {
    display: flex;
    align-self: flex-end;
    flex-wrap: nowrap;
    min-width: 270px;
    margin: 10px;
    font-size: 12px;
}

.rightside-footer p {
    font-size: 12px;
}
/* FOOTER END */

/* ABOUT START */
.about-container {
    .aboutpicture {
        background-image: url(images/aboutpicture.png);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        @include flex(row,flex-start,flex-start);
        margin: 20px; 
    }
    .aboutpicture p {
        max-width: 270px;
        margin-top: 40px;
        margin-left: 40px;
        font-size: 20px;
    }
    .omosstext {
        margin: 25px;
    }
    .omosstext p {
        margin-top: 20px;
    }
    .personal h2 {
        margin: 25px;
    }
    .bilderpersonal {
        @include flex(row,space-between,stretch);
        flex-wrap: wrap;
        margin: 25px;
        gap: 10px;
        background-color: $thirdColor;
    }
    .bilderpersonal img {
        width: 150px;
        height: 150px;
    }
    .joinus {
        margin: 25px;
    }
    .person1,.person2,.person3,.person4,.person5,.person6 {
        text-align: center;
        background-color: $secondaryColor;
        color: $fourthColor;
    }
    .joinus a {
        color: $primaryColor;
    }
}
/* ABOUT END */

/* PRODUCTS & CUSTOMIZATION START*/
.products-container {
    .workforce {
        color: $primaryColor;
    }
    .titleproducts {
        text-align: center;
        margin-top: 10px;
    }
    .undertitleproducts {
        text-align: center;
        margin: 25px;
    }
    .bot-container {
        background-color: $thirdColor;
        margin: 20px 25px 50px 25px;
        border-radius: 20px;
    }
    .bot-picture-cargo {
        background-image: url(images/cargo-bot.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .botarrows {
        @include flex(row,space-between,flex-start);
    }
    .frontpage-part1 p {
        margin-bottom: 25px;
        font-size: 1rem;
    }
    .leftsidecargobot {
        margin: 30px 0 0 40px;
    }
    .leftsidecargobot p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .rightsidebot {
        margin: 30px 40px 0 0;
    }
    .pil-vänster {
        background: none;
        border: none;
        color: $fourthColor;
        font-size: 0,9rem;
    }
    .pil-höger {
        background: none;
        border: none;
        color: $fourthColor;
        cursor: pointer;
    }
    .description-cargobot {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-cargobot p {
        margin-bottom: 7px;
        text-align: center;
    }
    .products-description.description1 {
        border-bottom: 3px solid $fourthColor;
        margin: 7px 10px 0 10px;
        @include flex(row,space-between,stretch);
    }
    .products-description.description1 p {
        margin-bottom: 5px;
    }
    .products-description {
        border-bottom: 3px solid $fourthColor;
        margin: 5px 10px 0 10px;
        @include flex(row,space-between,stretch);
    }
    .products-description p {
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
    .products-description p:first-of-type {
        font-weight: 700;
    }
    .bot-picture-assembly {
        background-image: url(images/assembly-bot.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .leftsideassemblybot {
        margin: 30px 0 0 40px;
    }
    .leftsideassemblybot p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .description-assemblybot {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-assemblybot p {
        margin-bottom: 7px;
        text-align: center;
    }
    .bot-picture-construction {
        background-image: url(images/construction-bot.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .leftsideconstructionbot {
        margin: 30px 0 0 40px;
    }
    .leftsideconstructionbot p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .description-constructionbot {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-constructionbot p {
        margin-bottom: 7px;
        text-align: center;
    }
    .productscontact {
        text-align: center;
        margin: 20px;
    }
    .productscontact a {
        color: $primaryColor;
    }
    .customizations {
        @include flex(row,center,center);
        height: 60px;
    }
    .customizations button {
        border: 2px solid $primaryColor;
        background-color: $primaryColor;
        border-radius: 15px;
        padding: 2px 10px 2px 10px;
        color: $fourthColor;
        font-family: "roboto mono";
    }
    .bot-picture-dexgrip {
        background-image: url(images/dex-grip.png);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .leftsidedexgrip {
        margin: 30px 0 0 40px;
    }
    .leftsidedexgrip p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .description-dexgrip {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-dexgrip p {
        margin-bottom: 7px;
        text-align: center;
    }
    .customizationsbutton:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    .basemodel {
        @include flex(row,center,center);
        height: 60px;
    }
    .basemodel button {
        border: 2px solid $primaryColor;
        background-color: $primaryColor;
        border-radius: 15px;
        padding: 2px 10px 2px 10px;
        color: $fourthColor;
        font-family: "roboto mono";
    }
    .bot-picture-vision {
        background-image: url(images/vision.png);
        background-size: cover;
        background-position: center;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .leftsidevision {
        margin: 30px 0 0 40px;
    }
    .leftsidevision p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .description-vision {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-vision p {
        margin-bottom: 7px;
        text-align: center;
    }
    .bot-picture-stepper {
        background-image: url(images/stepper.jpg);
        background-size: cover;
        background-position: bottom;
        height: 300px;
        color: $fourthColor;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .leftsidestepper {
        margin: 30px 0 0 40px;
    }
    .leftsidestepper p {
        border: 2px solid $fourthColor;
        border-radius: 10px;
        background-color: $primaryColor;
        padding: 2px 10px 2px 10px;
    }
    .description-stepper {
        border-bottom: 3px solid $fourthColor;
        margin: 14px 14px 0 14px;
    }
    .description-stepper p {
        margin-bottom: 7px;
        text-align: center;
    }
}
/* PRODUCTS & CUSTOMIZATION END */

/* Ändringar Erik */
.frontpage-part1-bg {
    background-image: url("https://media.discordapp.net/attachments/1414675453058355290/1427630748063629322/8JwlPd1SeCAAAAAAAAALrK5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.png?ex=68ef903e&is=68ee3ebe&hm=2a6c56c0943b7b31fc4dfebefcf26f8bc589bcba2586e1822af5ad8d8d6d685e&=&format=webp&quality=lossless&width=1350&height=683");
    width: 100vw;
    @include flex(column,center,center);
}

.frontpage-part1-container {
    @include flex(column,center,center);
}

.frontpage-part1-text {
    margin-left: 25px;
    margin-right: 25px;
}

.frontpage-bot {
    width: 310px;
    border-radius: 7.5%;
    margin-right: 25px;
    margin-left: 25px;
}   

.frontpage-part1-text h1 {
    width: 310px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
}

.p-size {
    width: 310px;
}

.frontpage-part1-text p {
    margin-bottom: 25px;
    font-size: 16px;
}

.frontpage-part1-text input {
    margin-bottom: 25px;
}

.demo-button {
    width: 310px;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: $primaryColor;
    border: 3px solid $fourthColor;
    @include flex(column,center,center);
}

.demo-button-text {
    color: $fourthColor;
    font-size: 14px;
}

.demo-button-text:hover {
    text-decoration: underline;
}
/* ÄNDRINGAR ERIK */

/* MEDIA START */
@media (min-width:600px) {
    .products-container {
        .bot-picture-cargo {
            background-position: top;
        }
        .bot-picture-assembly {
            background-position: top;
        }
        .bot-picture-construction {
            background-position: top;
        }
        .ourproducts {
            @include flex(column,flex-start,center);
        }
        .bot-container {
            width: 85vw;
        }
    }
    .about-container {
        .aboutpicture {
            height: 370px;
        }
        .aboutpicture p {
            font-size: 26px;
            max-width: 340px;
        }
    }
}

@media (min-width: 768px) {
    .hamburgermenu {
        display: none;
    }
    nav {
        @include flex(row,flex-end,center);
        background: none;
        position: relative;
        padding-top: 0px;
    }
    nav a {
        border: none;
        padding: 0 12px;
        font-size: 1rem;
    }
    .about-container {
        .aboutpicture {
            height: 450px;
            margin: 0px;
        }
        .aboutpicture p {
            font-size: 32px;
            max-width: 480px;
        }
    }
    .products-container {
        .ourproducts {
            @include flex(column,flex-start,center);
        }
        .bot-container {
            width: 70vw;
        }
    }
    .frontpage-part1-bg {
    background-image: url("https://media.discordapp.net/attachments/1414675453058355290/1427630748063629322/8JwlPd1SeCAAAAAAAAALrK5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.png?ex=68ef903e&is=68ee3ebe&hm=2a6c56c0943b7b31fc4dfebefcf26f8bc589bcba2586e1822af5ad8d8d6d685e&=&format=webp&quality=lossless&width=1350&height=683");
    width: 100vw;
    }
    .frontpage-part1-container {
    background-image: url("https://media.discordapp.net/attachments/1414675453058355290/1427630748063629322/8JwlPd1SeCAAAAAAAAALrK5AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.png?ex=68ef903e&is=68ee3ebe&hm=2a6c56c0943b7b31fc4dfebefcf26f8bc589bcba2586e1822af5ad8d8d6d685e&=&format=webp&quality=lossless&width=1350&height=683");
    width: 100vw;
    height: 90vh;
    @include flex(row,center,center);
    }
    .frontpage-part1-text {
        margin-left: 25px;
        margin-right: 25px;
        @include flex(column,center,center);
    }
    .frontpage-bot {
        width: 310px;
        border-radius: 7.5%;
        margin-right: 25px;
        margin-left: 25px;
        @include flex(column,center,center);
    }   
    .frontpage-part1 h1 {
        width: 310px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 24px;
    }
}

@media (max-width:768px) {
    .rightside {
        margin-right: 40px;
    }
}

@media (min-width:992px) {
    .about-container {
        .aboutpicture p {
            max-width: 500px;
            font-size: 46px;
            margin-top: 60px;
            margin-left: 60px;
        }
    }
    .products-container {
        .ourproducts {
            @include flex(row,flex-start,flex-start);
        }
        .bot-container {
            width: 30vw;
        }
    }
}

@media (680px<=width<=850px) {
    .about-container {
        .bilderpersonal img {
            width: 200px;
            height: 200px;
        }
    }
}

@media (850px<=width<=1100px) {
    .about-container {
        .bilderpersonal img {
            width: 250px;
            height: 250px;
        }
    }
}

@media (min-width:1100px) {
    .about-container {
        .bilderpersonal img {
            width: 300px;
            height: 300px;
        }
    }
}

@media (max-width:500px) {
    .products-container {
        .bot-container p {
            font-size: 12px;
        }
    }
    .formbox {
        margin: 25px;
    }
    .form-group {
        max-width: 280px;
    }
    .contact-details {
        font-size: 12px;
    }
    .social-media {
        font-size: 12px;
    }
}
/* MEDIA END */

//ERIKS CSS-FIL

    /* HEADER frontpage*/

.header2 {
    position: sticky;
    top: 0;
    @include flex(row,center,center);
    width: 100vw;
    background-color: rgba(243, 239, 239, 0.85); /* Opacity ändrad */
    backdrop-filter: blur(3px);
    padding-top: 0;
    margin-bottom: 0;
    height: 50px;
    border-bottom: 1px solid $fifthColor;
    z-index: 2;

    .container-header2 {
    width: 310px;
    @include flex(row,space-between,center);
    }

    .logo2 {
        height: 25px;
        width: 25px;
        margin-right: 25px;
    }

    .leftside2 {
        @include flex(row,flex-start,center);
    }

    .rightside2 {
        @include flex(row,flex-end,center);
        height: 50px;
        font-size: 18px;
        margin-right: 0px;
    }

    #menu-toggle2 {
        display: none;
    }

    /* Hamburgerknappen */
    .hamburgermenu2 {
        width: 30px;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }

    .hamburgermenu2 .bar4,
    .hamburgermenu2 .bar5,
    .hamburgermenu2 .bar6 {
        height: 3px;
        width: 100%;
        background-color: #333;
        margin: 5px 0;
        transition: 0.3s;
        display: flex;
        border-radius: 1.5px;
    }

    .overlay2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px; /* tom rad högst upp */
        cursor: pointer;
        z-index: 1;
    }

    /* Menyn */
    .nav2 {
        display: none;
        flex-direction: column;
        /* "align-items: center" här? */
        background: #f2f2f2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 50px; /* ge plats för overlay */
        z-index: 1;
    }

    .nav2 a {
        text-decoration: none;
        color: #333;
        padding: 12px;
        border-top: 1px solid #ccc;
    }

    .nav2 a:hover{
        border-radius: 10px;
        background: $fourthColor;
        color: $primaryColor;
        text-decoration: underline;
    }

    /* Visa menyn när checkboxen är ibockad */
    #menu-toggle2:checked + label + .overlay2,
    #menu-toggle2:checked + label + .overlay2 + .nav2 {
        display: flex;
    }

    /* Animera hamburger till X när öppen */
    #menu-toggle2:checked + label .bar4 {
        transform: rotate(45deg) translate(6px, 6px);
    }
    #menu-toggle2:checked + label .bar5 {
        opacity: 0;
    }
    #menu-toggle2:checked + label .bar6 {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* Desktop-läge: visa alltid menyn inline och göm hamburger */
    @media (min-width: 768px) {
        .hamburgermenu2 {
            display: none;
        }
        .nav2 {
            @include flex(row,flex-end,center);
            background: none;
            position: relative;
            padding-top: 0px;
        }
        .nav2 a {
            border: none;
            padding: 0px; 
            margin-left: 24px; /*ändrade padding till margin-left för att linjera med sidomargins */    
            font-size: 16px; 
        }

        .container-header2 { 
        width: calc(80vw + 50px); /*Ändra här för header margins/alignment */
        max-width: 950px;
        }    
    }
}

    /* HEADER frontpage END*/

/* FRONTPAGE START */
/* Part-1 */

.frontpage-main-container {
    .frontpage-part1-bg {
        background-image: url(./images/frontpage-bg.png);
        width: 100vw;
        background-size: cover;
        background-position: right;
        @include flex(column,center,center);
    }

    .frontpage-part1-container {
        @include flex(column,center,center);
        margin-bottom: 25px;
    }

    .frontpage-part1-text {
        width: 310px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .frontpage-bot {
        width: 310px;
        border-radius: 7.5%;
        margin-right: 25px;
        margin-left: 25px;
        filter: drop-shadow(0px 0px 10px #7f7f7f);
    }   

    .frontpage-part1-text h1 {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .frontpage-part1-text p {
        margin-bottom: 25px;
    }

    .demo-button {
        width: 310px;
        height: 50px;
        margin-bottom: 25px;
        border-radius: 25px;
        background-color: $primaryColor;
        border: 3px solid $fourthColor;
        @include flex(column,center,center);
    }

    .demo-button-text {
        color: $fourthColor;
        font-size: 14px;
    }

    .demo-button-text:hover {
        text-decoration: underline;
    }

    @media (min-width: 768px) {

        .frontpage-part1-container {
            height: calc(100vh - 50px);
            @include flex(row,center,center);
            margin-bottom: 0;
        }

        .frontpage-part1-text {
            width: 40vw;
            max-width: 450px;
            @include flex(column,center,flex-start);
        }

        div

        .frontpage-part1-text h1 {
            margin-top: 0px;
        }

        .demo-button {
            margin-bottom: 0px;
        }

        .frontpage-bot {
            width: 40vw;
            max-width: 450px;
            @include flex(column,center,center);
        } 
    }  

    /* Part-2 */

    .why-workbot, .frontpage-part2-container1a p, .application-areas, .infobox-bot {
        margin-bottom: 25px;
    }

    .frontpage-part2-bg {
        background-color: #F3F3F3;
        width: 100vw; /* Ta detta och gör samma i part1-bg för att få bort scrollen i viewporten. Något med denna property sabbar även header-alignmenten i mellanstor viewport*/
    }

    .frontpage-part2-container {
        padding-top: 75px;
        @include flex(column,center,center);
    }

    .frontpage-part2-container1a {
        width: 310px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .frontpage-part2-infobox {
        filter: drop-shadow(0px 0px 10px #7f7f7f); /* Funkar inte med sticky header */
    }

    .frontpage-part2-container1b {
        width: 310px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .infobox-top {
        background-color: $primaryColor;
        height: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        @include flex(row,center,center);
    }

    .infobox-bot {
        background-image: url(./images/frontpage-window-bg.png);
        background-size: cover;
        background-position: left;
        height: 200px;
        padding-right: 25px;
        padding-left: 25px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @include flex(row,center,center);
        text-align: center;
    }

    .frontpage-part2-infobox p {
        color: $fourthColor;
    }

    @media (min-width: 768px) {
        .frontpage-part2-container {
            flex-direction: row;
            height: 100vh; /* calc(100vh - 50px); */
            padding-top: 0px;
        }

        .frontpage-part2-container1a, .frontpage-part2-container1b, .infobox-top, .infobox-bot {
            width: 40vw;
            max-width: 450px;
        }

        .infobox-bot, .frontpage-part2-container1a p {
            margin-bottom: 0px;
        }

        .application-areas {
            display: none;
        }
    }

    /* Part-3 */

    .frontpage-part3-bg {
        background-color: $fourthColor;
        width: 100vw;
        @include flex(column,flex-start,center);
    }

    .frontpage-part3-container {
        @include flex(column,center,center);
    }

    .frontpage-part3-text-container {
        width: 310px;
        margin-top: 75px;
        margin-bottom: 25px;
        text-align: center;
    }

    .the-workforce {
        margin-bottom: 25px;
    }

    .frontpage-specsbox {
        width: 310px;
        height: 450px;
        filter: drop-shadow(0px 0px 10px #7f7f7f);
        margin-bottom: 50px;
    }

    .specsbox-top, .specsbox-top2, .specsbox-top3 {
        background-size: cover;
        background-position: bottom;
        height: 173px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 15px;
    }

    .specsbox-top {
        background-image: url(./images/cargo-bot.jpg);
    }

    .specsbox-top2 {
        background-image: url(./images/assembly-bot.jpg);
    }

    .specsbox-top3 {
        background-image: url(./images/construction-bot.jpg);
    }

    .specsbox-top p, .specsbox-top2 p, .specsbox-top3 p {
        color: $fourthColor;
    }

    .liftbot {
        width: 90px;
        height: 30px;
        background-color: $primaryColor;
        border-radius: 15px;
        margin-left: 15px; 
        margin-top: 0px; /*????????????*/
        @include flex(row,center,center);
    }

    .assemblybot {
        width: 120px;
        height: 30px;
        background-color: $primaryColor;
        border-radius: 15px;
        margin-left: 15px; 
        margin-top: 0px; /*????????????*/
        @include flex(row,center,center);
    }

    .specsbox-bot {
        height: 277px;
        background-color: #F3F3F3;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .specsbox-description, .specsbox-description2, .specsbox-description3 {
        height: 103px;
        padding: 15px;
        text-align: center;
        font-size: 14px;
    }

    .specsbox-divider {
        width: 280px;
        height: 3px;
        background-color: $fourthColor;
        border-radius: 1.5px;
        margin: 5px 15px 5px 15px;  
    }

    .viewallspecs-button-container {
        @include flex(row,center,center);
        margin-top: 15px;
    }

    .viewallspecs-button {
        width: 120px;
        height: 30px;
        border-radius: 15px;
        border: 2px solid $fourthColor;
        background-color: $primaryColor;
        @include flex(row,center,center);
        font-family: roboto; /* Fungerar inte? */
    }

    .specsbox-specs {
        font-size: 12px;
    }

    .specsbox-specs p:first-of-type {
        font-weight: bold;
    }

    .specsbox-spec1, .specsbox-spec2, .specsbox-spec3, .specsbox-spec4 {
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }

    .part3-fullscreen-container {
        @include flex(row,center,center);
    }

    .testdiv-container {
        display: flex;
    }

    .testdiv1, .testdiv2 {
        width: 310px;
        display: flex;
    }

    .testdiv-container {
        width: calc(80vw + 50px);
        max-width: 950px;
        @include flex(column,flex-start,center);
    }

    .testdiv-divider {
        width: 50px;
        height: 450px ;
        display: none;
    }

    @media (min-width: 768px) {

        .testdiv-container {
        width: calc(80vw + 50px);
        max-width: 950px;
        @include flex(row,space-evenly,stretch);
        }

        .testdiv1, .testdiv2 {
            display: flex;
            margin-bottom: 25px;
        }

        .testdiv-divider {
            display: flex;
        }

        .frontpage-part3-container {
            width: calc(80vw + 50px);
            max-width: 950px;
            @include flex(row,space-evenly,center);
            margin-top: 75px;
        }

        .frontpage-specsbox {
            margin-bottom: 50px;
        }

        .frontpage-part3-text-container {
            margin-top: 0px;
        }

        
    }

    /* Part 4 */

    .frontpage-part4-bg {
        background-color:#F3F3F3;
        width: 100vw;
        padding: 75px 0px 50px 0px;
        @include flex(row,center,center);
    }

    .frontpage-part4-container {
        @include flex(column,flex-start,center);
    }

    .frontpage-part4-text {
        width: 310px;
    }

    .our-heading {
        display: inline-block;
        margin-bottom: 12.5px;
    }

    .Projects-heading {
        display: inline-block;
        color: $primaryColor;
    }

    .frontpage-project1, .frontpage-project2, .frontpage-project3 {
        width: 310px;
    }

    .project-heading {
        margin-bottom: 12.5px;
    }

    .project-quote {
        font-style: italic;
        font-weight: lighter;
        margin-bottom: 25px;
    }

    .more-projects {
        width: 310px;
        height: 50px;
        margin-bottom: 25px;
        border-radius: 25px;
        background-color: $primaryColor;
        border: 3px solid $fourthColor;
        @include flex(column,center,center);
    }

    .part4-divider {
        display: none;
    }

    @media (min-width: 768px) {

        .frontpage-part4-bg {
            height: 100vh;
        }

        .frontpage-part4-container {
            width: calc(80vw + 50px);
            @include flex(row,center,center);
        }

        .part4-fullscreen-container1, .part4-fullscreen-container2 {
            width: 40vw;
            max-width: 450px;
            display: flex;
            flex-direction: column;
        }

        .part4-fullscreen-container1 {
            margin-right: 25px;
        }

        .part4-fullscreen-container2 {
            margin-left: 25px;
        }

        .part4-button-container {
            height: 160px;
            width: 310px;
            @include flex(row,center,center);
        }

        .frontpage-project1, .frontpage-project3 {
            height: 232.5px;
        }

        .frontpage-project2 {
            height: 160px;
        }

        .more-projects {
            margin-bottom: 0px;
        }

        .frontpage-project1, .frontpage-project2, .frontpage-project3, .part4-button-container {
            width: 40vw;
            max-width: 450px;
        }

        .project-quote, .part4-button-container {
            margin-bottom: 0px;
        }

        .part4-divider {
            width: 40vw;
            display: flex;
            height: 42.1px;
        }
    }
}

/* ATT GÖRA */
/*  
    Fixa footern
    Kolla WCAG
    Lägg till pilar till vissa boxar
    Kanske lägga en ruta/bakgrund runt produktdelen
    Fixa "viewallspecs-knappens" font
/*

/* FRONTPAGE END */
